<form>
  <table>
    <tr>
      <th>
        Username
      </th>
      <th>
        <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </th>
    </tr>
    <tr>
      <th>
        Password
      </th>
      <th>
        <input type="password" [(ngModel)]="userPassword" [ngModelOptions]="{standalone: true}">
      </th>
    </tr>
  </table>
  <table>
    <tr>
      {{loginResult}}
    </tr>
  </table>

  <button (click)="loginAttempt()">Login</button>
</form>
