<p>
  customersearch works!
</p>
  <div>Customer Name:</div>
  <input type="text" [(ngModel)]="customerName" [ngModelOptions]="{standalone: true}">
  <div>Customer Number:</div>
  <input type="text" [(ngModel)]="customerNumber" [ngModelOptions]="{standalone: true}">
  <button (click)="lookupCustomer()">Search</button>
<div class="panel panel-default">
  <div class="panel-heading">Search Results</div>

  <table class="table table-striped" >
    <thead>
    <tr>
      <th style="width: 10%">
        Customer Name
      </th>
      <th style="width: 10%">
        Customer Number
      </th>
      <th style="width: 10%">
        Region Number
      </th>
      <th style="width: 10%">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of searchResults">
      <td>{{item.customerName}}</td>
      <td class="text-right">{{item.customerNumber}}</td>
      <td class="text-right">{{item.regionNumber}}</td>
      <td>
        <a *ngIf="item.regionNumber.length > 0" [routerLink]="['/followup', item.customerNumber]" class="col-1-4">edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
