<table style="width: 100%;">
  <tbody>
  <tr>
    <td width="490">
      <div class="row">
        Client Name: <br>
          <h4>{{customer.customerName}}({{customer.customerNumber}}) - {{customer.regionNumber}}</h4>
      </div>
      <div class="row">
        <div>
          <button class="btn" (click)="addFollowup()">Add followup</button>
        </div>
        <div>
          <input type="checkbox" [ngModel]="includeCompletedCheckbox" data-md-icheck (change)="toggleIncludeCompleted()"/> include completed
        </div>
      </div>
    </td>
    <td><b>Date/Phone#</b>-{{promisesPromises.currentDate.toLocaleDateString()}} PH#{{promisesPromises.contactPhone}}
      <br><b>Who</b>-{{promisesPromises.contactName}}
      <br><b>What</b>-{{promisesPromises.what}}
      <br><b>When</b>-
      <br><b>Follow-up</b>-{{promisesPromises.followupDesc}} on {{promisesPromises.followupDate.toLocaleDateString()}}
      <br><b>Rep Notified</b>-{{promisesPromises.repNotified}}</td>
  </tr>
  </tbody>
</table>
<div class="container follow-up" *ngFor="let followup of activeFollowups">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              Follow-up Type:
              <select class="form-control" [(ngModel)]="followup.followupType">
                <option *ngFor="let x of followupTypes" [value]="x.type"
                  [selected]="followup.followupType == x.type">{{x.desc}}
                </option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <label style="width:100%">
              Follow-up Description: <br>
              <textarea [(ngModel)]="followup.followupDesc" rows="3" cols="100"></textarea>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
                    <div class="form-group">
                        <label>
                            Contact
                            <input class="form-control" type="text" [(ngModel)]="followup.contact"
                                   [ngModelOptions]="{standalone: true}">
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Title
                            <input class="form-control" type="text" [(ngModel)]="followup.contactTitle"
                                   [ngModelOptions]="{standalone: true}"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Phone: <input class="form-control" type="text" [(ngModel)]="followup.contactPhone"
                                             [ngModelOptions]="{standalone: true}"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>email: <input class="form-control" type="text" [(ngModel)]="followup.contactEmail"
                                             [ngModelOptions]="{standalone: true}"></label>
                    </div>
                </div>
            </div>
      <div class="row">
        <div class="col-md-4">
          <label>follow-up Date:</label>
          <material-datepicker class="form-control" [(date)]="followup.followupDate" dateFormat="MM-DD-YYYY">
          </material-datepicker>
        </div>
        <div class="col-md-4">
          <label>follow-up Party:
            <select class="form-control" [(ngModel)]="followup.followupParty">
              <option *ngFor="let x of followupParties" [value]="x.party"
                      [selected]="followup.followupParty == x.party">{{x.desc}}
              </option>
            </select>
          </label>
        </div>
              <div class="col-md-4">
                <label>Follow-up Owner:
                  <select class="form-control" [(ngModel)]="followup.followupOwner">
                    <option *ngFor="let x of followupUsers" [value]="x.username"
                            [selected]="followup.followupOwner == x.username">{{x.username}}
                    </option>
                  </select>
                </label>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    Created By: {{followup.createdBy}}
                </div>
                <div class="col-md-6">
                    Last Modified by: {{followup.lastModifiedBy}}
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    Created On: {{followup.createdOn.toLocaleString()}}
                </div>
                <div class="col-md-6">
                    Last Modified on: {{followup.lastModifiedDate.toLocaleString()}}
                </div>

            </div>
            <div class="row">
              <div *ngIf="followup.followupId > 0" class="col-md-6">
                    Initial Follow-up: {{followup.createdFollowUpDate.toLocaleDateString()}}
              </div>
              <div *ngIf="followup.completedDate.Valid" class="col-md-6">
                Completed Date: {{followup.completedDate.String.toLocaleString()}} ({{followup.completedBy.String}})
              </div>
           </div>
           <div class="row">
              <div class="col-md-6">
                <button class="btn" (click)="updateFollowup(followup.followupId)">Save</button>
              </div>
              <div class="col-md-6">
                <button class="btn" *ngIf="followup.completedBy.String == ''" [ngClass]="{disabled : (followup.followupId == 0)}" (click)="completeFollowup(followup.followupId)">Followup Completed</button>
                <button class="btn" *ngIf="followup.completedBy.String != ''" (click)="reopenFollowup(followup.followupId)">Re-Open Followup</button>
              </div>
           </div>
        </div>
    </div>
</div>

<button class="btn" (click)="goBack()">back</button>
