<div class="container">
    <div class="row">
        <h1>
            {{title}}
        </h1>
        <nav>
          <a routerLink="/home">Home</a>
          <a routerLink="/customersearch">Search</a>
          <a *ngIf="userAuthenticated" routerLink="/login">Logoff</a>
        </nav>
    </div>

    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

