<div>
  <label>Select Region to View:</label>
  <div>
    <select [(ngModel)]="selectedRegionNumber" (ngModelChange)="updateSelectedRegion()">
      <option *ngFor="let x of regions" [value]="x.regionNumber" [selected]="selectedRegionNumber == x.regionNumber">{{x.regionName}}</option>
    </select>
  </div>
</div>
<div>
  <label>Select Followup Owner to View:</label>
  <div>
    <select [(ngModel)]="selectedOwner" (ngModelChange)="updateSelectedOwner()">
      <option *ngFor="let x of followupUsers" [value]="x.username" [selected]="selectedOwner == x.username">{{x.username}}</option>
    </select>
  </div>
</div>
<div>
  <label>Select Followups Dates:</label>
  <div>
    <select [(ngModel)]="selectedDayOption" (ngModelChange)="updateSelectedDayOption()">
      <option *ngFor="let x of dayOptions" [value]="x.dayValue" [selected]="selectedDayOption == x.dayValue">{{x.labelName}}</option>
    </select>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">All Follow-up</div>

  <table class="table table-striped" >
    <thead>
    <tr>
      <th style="width: 4%">
        Type
      </th>
      <th style="width: 18%">
        Client Name
      </th>
      <th style="width: 7%">
        Followup Date
      </th>
      <th style="width: 26%">
        Followup Desc
      </th>
      <th style="width: 10%">
        Contact
      </th>
      <th style="width: 10%">
        Followup Party
      </th>
      <th style="width: 5%">
        Last Activity
      </th>
      <th style="width: 5%">
        Created
      </th>
      <th style="width: 5%">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of followups">
      <td>{{item.followupType}}</td>
      <td>{{item.customerName}}({{item.customerNumber}})<br>Region: {{item.regionNumber}}</td>
      <td>{{item.followupDate.toLocaleDateString()}}</td>
      <td>{{item.followupDesc}}</td>
      <td>{{item.contact}}</td>
      <td>{{item.followupParty}}</td>
      <td>{{item.lastModifiedBy}}<br>{{item.lastModifiedDate.toLocaleString()}}</td>
      <td>{{item.createdBy}}<br>{{item.createdOn.toLocaleString()}}</td>
      <td>
        <a [routerLink]="['/followup', item.customerNumber]" class="col-1-4">edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
